Repository edgelesssys/constellation, changes with the owners that CODEOWNERS names for each.
All owners: @katexochen, @malt3, @3u13r, @daniel-weisse, @derpsteb, @elchead, @thomasten

CODEOWNERS:

.golangci.yml @katexochen
/3rdparty/gcp-guest-agent @malt3
/bazel @malt3
/bazel/ci @katexochen
/bazel/container @katexochen
/bazel/sh @katexochen
/bootstrapper @3u13r
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/clusterid @malt3
/cli/internal/cmd/upgrade* @derpsteb
/cli/internal/featureset @malt3
/cli/internal/helm @derpsteb
/cli/internal/kubecmd @daniel-weisse
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @elchead
/cli/internal/upgrade @elchead
/csi @daniel-weisse
/debugd @malt3
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @3u13r
/hack/azure-snp-report-verify @derpsteb
/hack/bazel-deps-mirror @malt3
/hack/cli-k8s-compatibility @derpsteb
/hack/clidocgen @thomasten
/hack/configapi @elchead
/hack/fetch-broken-e2e @katexochen
/hack/oci-pin @malt3
/hack/pseudo-version @malt3
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @katexochen
/hack/terraform @3u13r
/hack/tools @katexochen
/image @malt3
/internal/api @derpsteb
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @3u13r
/internal/compatibility @derpsteb
/internal/config @derpsteb
/internal/containerimage @malt3
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/imagefetcher @malt3
/internal/installer @3u13r
/internal/kms @daniel-weisse
/internal/kubernetes @malt3
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @malt3
/internal/retry @katexochen
/internal/semver @derpsteb
/internal/sigstore @elchead
/internal/staticupload @malt3
/internal/versions @3u13r
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @malt3
/rpm @malt3
/tools @malt3
/upgrade-agent @3u13r
/verify @daniel-weisse

Remove outdated GetMeasurementSalt
  cli/internal/cmd/upgradeapply.go
  cli/internal/cmd/upgradeapply_test.go
  cli/internal/kubecmd/kubecmd.go
Owners: @derpsteb, @daniel-weisse

Readd missing doc comment
  cli/internal/kubecmd/kubecmd.go
Owners: @daniel-weisse

Fix debug log messages
  cli/internal/cmd/init.go
Owners: none

ci: fix Windows e2e test (#2255)
  .github/workflows/e2e-test-weekly.yml
  .github/workflows/e2e-windows.yml
Owners: none

cli: add spinner to helm chart installation (#2270)
  cli/internal/cmd/init.go
Owners: none

docs: add note on how we handle deprecations
  dev-docs/workflows/deprecations.md
Owners: none
