Repository edgelesssys/constellation, changes with the owners that CODEOWNERS names for each.
All owners: @katexochen, @3u13r, @burgerdev, @daniel-weisse, @derpsteb, @elchead, @thomasten, @msanft

operators: ignore node deletion errors on absence
  operators/constellation-node-operator/internal/cloud/aws/client/nodeimage.go
  operators/constellation-node-operator/internal/cloud/aws/client/nodeimage_test.go
  operators/constellation-node-operator/internal/cloud/gcp/client/nodeimage.go
Owners: @3u13r

bootstrapper: add etcd I/O prioritizer
  bootstrapper/internal/etcdio/etcdio.go
Owners: @3u13r

bootstrapper: prioritize etcd I/O when bootstrapping
  bootstrapper/cmd/bootstrapper/main.go
  bootstrapper/cmd/bootstrapper/test.go
  bootstrapper/internal/etcdio/BUILD.bazel
  bootstrapper/internal/initserver/initserver.go
  bootstrapper/internal/initserver/initserver_test.go
  bootstrapper/internal/joinclient/joinclient.go
  bootstrapper/internal/joinclient/joinclient_test.go
  bootstrapper/internal/kubernetes/BUILD.bazel
  bootstrapper/internal/kubernetes/kubernetes.go
  bootstrapper/internal/kubernetes/kubernetes_test.go
Owners: @3u13r

bootstrapper: add test cases
  bootstrapper/internal/kubernetes/kubernetes.go
  bootstrapper/internal/kubernetes/kubernetes_test.go
Owners: @3u13r

bootstrapper: only run disk prioritizer on control plane join
  bootstrapper/internal/kubernetes/BUILD.bazel
  bootstrapper/internal/kubernetes/kubernetes.go
Owners: @3u13r

fixup! operators: ignore node deletion errors on absence
  operators/constellation-node-operator/internal/cloud/aws/client/nodeimage.go
  operators/constellation-node-operator/internal/cloud/gcp/client/nodeimage.go
Owners: @3u13r

bootstrapper: don't fail when prioritization fails
  bootstrapper/internal/etcdio/etcdio.go
  bootstrapper/internal/kubernetes/BUILD.bazel
  bootstrapper/internal/kubernetes/kubernetes.go
  bootstrapper/internal/kubernetes/kubernetes_test.go
Owners: @3u13r

bootstrapper: retry multiple times if kubelet just started on re-join
  bootstrapper/internal/etcdio/etcdio.go
  bootstrapper/internal/kubernetes/kubernetes.go
Owners: @3u13r

bazel: migrate rules_go and gazelle to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
  bazel/toolchains/go_module_deps.bzl
  bazel/toolchains/go_rules_deps.bzl
Owners: @katexochen, @burgerdev

bazel: enable bzlmod
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
  bazel/toolchains/BUILD.bazel
  dev-docs/workflows/bump-go-version.md
  hack/bazel-deps-mirror/README.md
  hack/bazel-deps-mirror/internal/bazelfiles/files.go
  hack/bazel-deps-mirror/internal/bazelfiles/files_test.go
Owners: @katexochen, @burgerdev

bazel: migrate skylib to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/skylib_deps.bzl
Owners: @burgerdev

bazel: migrate aspect_bazel_lib to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/aspect_bazel_lib.bzl
Owners: @burgerdev

bazel: migrate hermetic_cc_toolchain to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/hermetic_cc_deps.bzl
Owners: @burgerdev

bazel: migrate rules_python to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/python_deps.bzl
Owners: @burgerdev

bazel: migrate rules_cc to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/cc_deps.bzl
Owners: @burgerdev

bazel: migrate buildifier to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
Owners: @katexochen

bazel: migrate rules_pkg to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/pkg_deps.bzl
Owners: @burgerdev

bootstrapper: don't error on etcdio in any case
  bootstrapper/internal/etcdio/etcdio.go
  bootstrapper/internal/kubernetes/kubernetes.go
  bootstrapper/internal/kubernetes/kubernetes_test.go
Owners: @3u13r

renovate: match additional names for Bazel core deps
  renovate.json5
Owners: none

link-checker: add ignored sites
  .lychee.toml
Owners: none

bazel: limit concurrency of mkosi_image rule
  bazel/mkosi/mkosi_image.bzl
Owners: @burgerdev

dev-docs: document new location of Go toolchain version
  dev-docs/workflows/bump-go-version.md
Owners: none

bazel: update BUILD files for rules_go bzlmod migration
  3rdparty/bazel/com_github_google_go_tpm_tools/com_github_google_go_tpm_tools.need
  3rdparty/bazel/com_github_google_go_tpm_tools/com_github_google_go_tpm_tools.patch
  3rdparty/bazel/com_github_google_go_tpm_tools/ms_tpm_20_ref.need
  3rdparty/bazel/com_github_google_go_tpm_tools/ms_tpm_20_ref.patch
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/BUILD.bazel
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/Platform.h
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/Tpm.h
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/ms_tpm_20_disabled.c
  3rdparty/bazel/com_github_martinjungblut_go_cryptsetup/com_github_martinjungblut_go_cryptsetup.patch
  3rdparty/bazel/org_libvirt_go_libvirt/go_libvirt.patch
  bootstrapper/internal/initserver/BUILD.bazel
  bootstrapper/internal/joinclient/BUILD.bazel
  cli/internal/cmd/BUILD.bazel
  csi/kms/BUILD.bazel
  debugd/internal/cdbg/cmd/BUILD.bazel
  debugd/internal/debugd/deploy/BUILD.bazel
  debugd/internal/debugd/server/BUILD.bazel
  disk-mapper/internal/recoveryserver/BUILD.bazel
  disk-mapper/internal/rejoinclient/BUILD.bazel
  internal/constellation/BUILD.bazel
  internal/grpc/atlscredentials/BUILD.bazel
  internal/grpc/dialer/BUILD.bazel
  internal/logger/BUILD.bazel
  joinservice/internal/kms/BUILD.bazel
  joinservice/internal/server/BUILD.bazel
  keyservice/internal/server/BUILD.bazel
  operators/constellation-node-operator/internal/upgrade/BUILD.bazel
  s3proxy/internal/kms/BUILD.bazel
  upgrade-agent/internal/server/BUILD.bazel
  verify/server/BUILD.bazel
Owners: @3u13r, @daniel-weisse, @thomasten

bazel: migrate rules_proto to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/proto_deps.bzl
  bootstrapper/initproto/init.pb.go
  debugd/service/debugd.pb.go
  disk-mapper/recoverproto/recover.pb.go
  internal/versions/components/components.pb.go
  joinservice/joinproto/join.pb.go
  keyservice/keyserviceproto/keyservice.pb.go
  upgrade-agent/upgradeproto/upgrade.pb.go
  verify/verifyproto/verify.pb.go
Owners: @burgerdev, @3u13r, @daniel-weisse

operators: ignore node deletion errors on absence (#3113)
  operators/constellation-node-operator/internal/cloud/aws/client/nodeimage.go
  operators/constellation-node-operator/internal/cloud/aws/client/nodeimage_test.go
  operators/constellation-node-operator/internal/cloud/gcp/client/nodeimage.go
Owners: @3u13r

tidy: document MODULE.bazel.lock maintencance
  .github/workflows/test-tidy.yml
  dev-docs/workflows/bazel.md
Owners: none

bazel: commit bzlmod lockfile
  MODULE.bazel.lock
Owners: none

bootstrapper: prioritize etcd disk I/O (#3114)
  bootstrapper/cmd/bootstrapper/main.go
  bootstrapper/cmd/bootstrapper/test.go
  bootstrapper/internal/etcdio/BUILD.bazel
  bootstrapper/internal/etcdio/etcdio.go
  bootstrapper/internal/initserver/initserver.go
  bootstrapper/internal/initserver/initserver_test.go
  bootstrapper/internal/joinclient/joinclient.go
  bootstrapper/internal/joinclient/joinclient_test.go
  bootstrapper/internal/kubernetes/BUILD.bazel
  bootstrapper/internal/kubernetes/kubernetes.go
  bootstrapper/internal/kubernetes/kubernetes_test.go
Owners: @3u13r

Reduce output noise from using 7zip
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
Owners: none

Ignore non existent files when creating archive
  .github/actions/artifact_upload/action.yml
Owners: none

ci: ignore missing files when creating archive (#3118)
  .github/actions/artifact_download/action.yml
  .github/actions/artifact_upload/action.yml
Owners: none

bazel: commit bzlmod lockfile
  MODULE.bazel.lock
Owners: none

renovate: match additional names for Bazel core deps
  renovate.json5
Owners: none

bazel: migrate rules_pkg to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/pkg_deps.bzl
Owners: @burgerdev

bazel: migrate rules_proto to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/proto_deps.bzl
  bootstrapper/initproto/init.pb.go
  debugd/service/debugd.pb.go
  disk-mapper/recoverproto/recover.pb.go
  internal/versions/components/components.pb.go
  joinservice/joinproto/join.pb.go
  keyservice/keyserviceproto/keyservice.pb.go
  upgrade-agent/upgradeproto/upgrade.pb.go
  verify/verifyproto/verify.pb.go
Owners: @burgerdev, @3u13r, @daniel-weisse

bazel: migrate skylib to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/skylib_deps.bzl
Owners: @burgerdev

bazel: limit concurrency of mkosi_image rule
  bazel/mkosi/mkosi_image.bzl
Owners: @burgerdev

bazel: migrate buildifier to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
Owners: @katexochen

bazel: migrate aspect_bazel_lib to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/aspect_bazel_lib.bzl
Owners: @burgerdev

link-checker: add ignored sites
  .lychee.toml
Owners: none

CODEOWNERS:

# keep-sorted start
.golangci.yml @katexochen
/3rdparty/gcp-guest-agent @3u13r
/bazel @burgerdev
/bazel/ci @katexochen
/bazel/sh @katexochen
/bootstrapper @3u13r
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/cmd/upgrade* @derpsteb
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @elchead
/csi @daniel-weisse
/debugd @daniel-weisse
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @3u13r
/hack/azure-snp-report-verify @derpsteb
/hack/bazel-deps-mirror @burgerdev
/hack/cli-k8s-compatibility @derpsteb
/hack/clidocgen @thomasten
/hack/fetch-broken-e2e @katexochen
/hack/gocoverage @katexochen
/hack/oci-pin @burgerdev
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @katexochen
/hack/terraform @3u13r
/hack/tools @katexochen
/hack/versioninfogen @daniel-weisse
/image @msanft
/internal/api @derpsteb
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @3u13r
/internal/compatibility @derpsteb
/internal/config @derpsteb
/internal/constellation/featureset @thomasten
/internal/constellation/helm @derpsteb
/internal/constellation/kubecmd @daniel-weisse
/internal/constellation/state @elchead
/internal/containerimage @burgerdev
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/imagefetcher @msanft
/internal/installer @3u13r
/internal/kms @daniel-weisse
/internal/kubernetes @3u13r
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @msanft
/internal/retry @katexochen
/internal/semver @derpsteb
/internal/sigstore @elchead
/internal/staticupload @msanft
/internal/versions @3u13r
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @3u13r
/terraform-provider-constellation @msanft @elchead
/tools @burgerdev
/upgrade-agent @3u13r
/verify @daniel-weisse
# keep-sorted end
