Repository edgelesssys/constellation, changes with the owners that CODEOWNERS names for each.
All owners: @katexochen, @malt3, @3u13r, @daniel-weisse, @derpsteb, @elchead, @thomasten, @msanft

image: update measurements and image version
  internal/attestation/measurements/measurements_enterprise.go
  internal/config/image_enterprise.go
Owners: @daniel-weisse, @derpsteb

image: update measurements and image version (#2789)
  internal/attestation/measurements/measurements_enterprise.go
  internal/config/image_enterprise.go
Owners: @daniel-weisse, @derpsteb

constellation-lib: run license check in Terraform provider and refactor code (#2740)
  .bazelrc
  cli/internal/cmd/apply.go
  cli/internal/cmd/apply_test.go
  cli/internal/cmd/init_test.go
  cli/internal/cmd/license_enterprise.go
  internal/constellation/apply.go
  internal/constellation/apply_test.go
  internal/license/BUILD.bazel
  internal/license/checker_enterprise.go
  internal/license/checker_enterprise_test.go
  internal/license/checker_oss.go
  internal/license/integration/BUILD.bazel
  internal/license/integration/license_integration_test.go
  internal/license/license.go
  terraform-provider-constellation/docs/resources/cluster.md
  terraform-provider-constellation/internal/provider/BUILD.bazel
  terraform-provider-constellation/internal/provider/cluster_resource.go
Owners: @thomasten, @msanft, @elchead

terraform-provider: only build as enterprise user (#2770)
  bazel/devbuild/BUILD.bazel
  bazel/devbuild/prepare_developer_workspace.sh.in
Owners: @malt3

node-operator: fix setting Azure node image (#2788)
  operators/constellation-node-operator/internal/cloud/azure/client/scalinggroup.go
  operators/constellation-node-operator/internal/cloud/azure/client/scalinggroup_test.go
Owners: @malt3

helm: masq traffic to the mini-qemu-metadata container so that the join-service can retrieve it's metadata (#2782)
  e2e/miniconstellation/test-remote.sh
  internal/constellation/helm/overrides.go
Owners: @3u13r, @derpsteb

helm: remove konnectivity agents (#2790)
  e2e/miniconstellation/test-remote.sh
  internal/constellation/helm/BUILD.bazel
  internal/constellation/helm/charts/edgeless/constellation-services/Chart.yaml
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/.helmignore
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/Chart.yaml
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/values.schema.json
  internal/constellation/helm/charts/edgeless/constellation-services/charts/konnectivity/values.yaml
  internal/constellation/helm/imageversion/BUILD.bazel
  internal/constellation/helm/loader.go
  internal/constellation/helm/loader_test.go
  internal/constellation/helm/overrides.go
  internal/constellation/helm/testdata/AWS/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/testdata/AWS/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/testdata/AWS/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/constellation/helm/testdata/Azure/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/testdata/Azure/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/testdata/Azure/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/constellation/helm/testdata/GCP/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/testdata/GCP/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/testdata/GCP/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/constellation/helm/testdata/OpenStack/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/testdata/OpenStack/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/testdata/OpenStack/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/constellation/helm/testdata/QEMU/constellation-services/charts/konnectivity/templates/clusterrolebinding.yaml
  internal/constellation/helm/testdata/QEMU/constellation-services/charts/konnectivity/templates/daemonset.yaml
  internal/constellation/helm/testdata/QEMU/constellation-services/charts/konnectivity/templates/serviceaccount.yaml
  internal/versions/versions.go
Owners: @3u13r, @derpsteb

chore: update version.txt to v2.14.3
  version.txt
Owners: none

deps: update versions to v2.14.3
  internal/config/image_enterprise.go
  s3proxy/deploy/s3proxy/Chart.yaml
Owners: @derpsteb

cli: support GCP marketplace images
  internal/config/config.go
  internal/imagefetcher/imagefetcher.go
  terraform-provider-constellation/internal/provider/image_data_source.go
Owners: @derpsteb, @malt3, @msanft, @elchead

ci: support GCP marketplace images
  .github/actions/constellation_create/action.yml
Owners: none

docs: support GCP marketplace images
  dev-docs/workflows/marketplace-images.md
  docs/docs/overview/license.md
Owners: @thomasten

attestation: hardcode measurements for v2.14.3
  internal/attestation/measurements/measurements_enterprise.go
Owners: @daniel-weisse

bazel: generate
  internal/config/config_doc.go
  terraform-provider-constellation/docs/data-sources/image.md
Owners: @derpsteb, @msanft, @elchead

helm: add pod disruption budgets
  internal/constellation/helm/BUILD.bazel
  internal/constellation/helm/charts/edgeless/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/loader.go
  internal/constellation/helm/testdata/AWS/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/testdata/Azure/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/testdata/GCP/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
Owners: @derpsteb

Add pod disruption budgets so the cluster-autoscaler is able to move kube-admin namespaced resources (#2781)
  internal/constellation/helm/BUILD.bazel
  internal/constellation/helm/charts/edgeless/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/loader.go
  internal/constellation/helm/testdata/AWS/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/testdata/Azure/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/testdata/GCP/constellation-services/charts/autoscaler/templates/coredns-pdb.yaml
  internal/constellation/helm/values.go
Owners: @derpsteb

CODEOWNERS:

.golangci.yml @katexochen
/3rdparty/gcp-guest-agent @malt3
/bazel/ci @katexochen
/bazel/container @katexochen
/bazel @malt3
/bazel/sh @katexochen
/bootstrapper @3u13r
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/cmd/upgrade* @derpsteb
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @elchead
/csi @daniel-weisse
/debugd @malt3
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @3u13r
/hack/azure-snp-report-verify @derpsteb
/hack/bazel-deps-mirror @malt3
/hack/clidocgen @thomasten
/hack/cli-k8s-compatibility @derpsteb
/hack/fetch-broken-e2e @katexochen
/hack/gocoverage @katexochen
/hack/oci-pin @malt3
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @katexochen
/hack/terraform @3u13r
/hack/tools @katexochen
/hack/versioninfogen @daniel-weisse
/image @malt3
/internal/api @derpsteb
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @3u13r
/internal/compatibility @derpsteb
/internal/config @derpsteb
/internal/constellation/kubecmd @daniel-weisse
/internal/containerimage @malt3
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/constellation/featureset @malt3
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/constellation/helm @derpsteb
/internal/imagefetcher @malt3
/internal/installer @3u13r
/internal/kms @daniel-weisse
/internal/kubernetes @malt3
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @malt3
/internal/retry @katexochen
/internal/semver @derpsteb
/internal/sigstore @elchead
/internal/constellation/state @elchead
/internal/staticupload @malt3
/internal/versions @3u13r
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @malt3
/rpm @malt3
/tools @malt3
/upgrade-agent @3u13r
/verify @daniel-weisse
/terraform-provider-constellation @msanft @elchead
