Repository edgelesssys/constellation, changes with the owners that CODEOWNERS names for each.
All owners: @katexochen, @3u13r, @burgerdev, @daniel-weisse, @derpsteb, @elchead, @thomasten, @msanft

CODEOWNERS:

# keep-sorted start
.golangci.yml @katexochen
/3rdparty/gcp-guest-agent @3u13r
/bazel @burgerdev
/bazel/ci @katexochen
/bazel/sh @katexochen
/bootstrapper @3u13r
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/cmd/upgrade* @derpsteb
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @elchead
/csi @daniel-weisse
/debugd @daniel-weisse
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @3u13r
/hack/azure-snp-report-verify @derpsteb
/hack/bazel-deps-mirror @burgerdev
/hack/cli-k8s-compatibility @derpsteb
/hack/clidocgen @thomasten
/hack/fetch-broken-e2e @katexochen
/hack/gocoverage @katexochen
/hack/oci-pin @burgerdev
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @katexochen
/hack/terraform @3u13r
/hack/tools @katexochen
/hack/versioninfogen @daniel-weisse
/image @msanft
/internal/api @derpsteb
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @3u13r
/internal/compatibility @derpsteb
/internal/config @derpsteb
/internal/constellation/featureset @thomasten
/internal/constellation/helm @derpsteb
/internal/constellation/kubecmd @daniel-weisse
/internal/constellation/state @elchead
/internal/containerimage @burgerdev
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/imagefetcher @msanft
/internal/installer @3u13r
/internal/kms @daniel-weisse
/internal/kubernetes @3u13r
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @msanft
/internal/retry @katexochen
/internal/semver @derpsteb
/internal/sigstore @elchead
/internal/staticupload @msanft
/internal/versions @3u13r
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @3u13r
/terraform-provider-constellation @msanft @elchead
/tools @burgerdev
/upgrade-agent @3u13r
/verify @daniel-weisse
# keep-sorted end

bazel: enable bzlmod
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
  bazel/toolchains/BUILD.bazel
  dev-docs/workflows/bump-go-version.md
  hack/bazel-deps-mirror/README.md
  hack/bazel-deps-mirror/internal/bazelfiles/files.go
  hack/bazel-deps-mirror/internal/bazelfiles/files_test.go
Owners: @katexochen, @burgerdev

bazel: migrate rules_cc to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/cc_deps.bzl
Owners: @burgerdev

bazel: migrate rules_go and gazelle to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/ci/BUILD.bazel
  bazel/toolchains/go_module_deps.bzl
  bazel/toolchains/go_rules_deps.bzl
Owners: @katexochen, @burgerdev

tidy: document MODULE.bazel.lock maintencance
  .github/workflows/test-tidy.yml
  dev-docs/workflows/bazel.md
Owners: none

bazel: migrate hermetic_cc_toolchain to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/hermetic_cc_deps.bzl
Owners: @burgerdev

bazel: update BUILD files for rules_go bzlmod migration
  3rdparty/bazel/com_github_google_go_tpm_tools/com_github_google_go_tpm_tools.need
  3rdparty/bazel/com_github_google_go_tpm_tools/com_github_google_go_tpm_tools.patch
  3rdparty/bazel/com_github_google_go_tpm_tools/ms_tpm_20_ref.need
  3rdparty/bazel/com_github_google_go_tpm_tools/ms_tpm_20_ref.patch
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/BUILD.bazel
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/Platform.h
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/Tpm.h
  3rdparty/bazel/com_github_google_go_tpm_tools/placeholder/ms_tpm_20_disabled.c
  3rdparty/bazel/com_github_martinjungblut_go_cryptsetup/com_github_martinjungblut_go_cryptsetup.patch
  3rdparty/bazel/org_libvirt_go_libvirt/go_libvirt.patch
  bootstrapper/internal/initserver/BUILD.bazel
  bootstrapper/internal/joinclient/BUILD.bazel
  cli/internal/cmd/BUILD.bazel
  csi/kms/BUILD.bazel
  debugd/internal/cdbg/cmd/BUILD.bazel
  debugd/internal/debugd/deploy/BUILD.bazel
  debugd/internal/debugd/server/BUILD.bazel
  disk-mapper/internal/recoveryserver/BUILD.bazel
  disk-mapper/internal/rejoinclient/BUILD.bazel
  internal/constellation/BUILD.bazel
  internal/grpc/atlscredentials/BUILD.bazel
  internal/grpc/dialer/BUILD.bazel
  internal/logger/BUILD.bazel
  joinservice/internal/kms/BUILD.bazel
  joinservice/internal/server/BUILD.bazel
  keyservice/internal/server/BUILD.bazel
  operators/constellation-node-operator/internal/upgrade/BUILD.bazel
  s3proxy/internal/kms/BUILD.bazel
  upgrade-agent/internal/server/BUILD.bazel
  verify/server/BUILD.bazel
Owners: @3u13r, @daniel-weisse, @thomasten

dev-docs: document new location of Go toolchain version
  dev-docs/workflows/bump-go-version.md
Owners: none

bazel: migrate rules_python to bzlmod
  MODULE.bazel
  WORKSPACE.bzlmod
  bazel/toolchains/python_deps.bzl
Owners: @burgerdev

image: update measurements and image version
  internal/attestation/measurements/measurements_enterprise.go
  internal/config/image_enterprise.go
Owners: @daniel-weisse, @derpsteb

image: update measurements and image version (#3119)
  internal/attestation/measurements/measurements_enterprise.go
  internal/config/image_enterprise.go
Owners: @daniel-weisse, @derpsteb

Check for file or directory instead of just file
  .github/actions/artifact_upload/action.yml
Owners: none
